*.suo
bin/
obj/
*.user
.vs
Library/
Logs/
Temp/
UserSettings/
Output/
ILRuntimeDemo/Packages/packages-lock.json
ILRuntimeDemo/.vsconfig
/out
Assets/StreamingAssets/
Assets/StreamingAssets.meta
.idea/
.vsconfig
*.apk
*.csproj
*.sln
